<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/public/assets/styles.css" rel="stylesheet" type="text/css" />

    <title></title>
  </head>

  <body>
    <form action="/game/next-round" method="get">
      <h1 class="page-title">ROUND <%= round%></h1>

      <div class="play-container">
        <div class="p1-container">
          <h2><%= players[0].name %></h2>
          <h2><%= players[0].points%></h2>

          <img src="../public/images/<%= players[0].choice %>.png" />
        </div>

        <div class="p2-container">
          <h2><%= players[1].name %></h2>
          <h2><%= players[1].points %></h2>

          <img src="../public/images/<%= players[1].choice %>.png" />
        </div>
      </div>

      <div class="center-container">
        <button type="submit" style="width: 50%">Next</button>
      </div>
    </form>

    <div class="center-container">
      <form action="/game/end" method="get" style="width: 50%">
        <button class="end-button" type="submit" style="width: 100%">
          End
        </button>
      </form>
    </div>
  </body>
</html>
